.room-3d-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.room-3d-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}